header {
    height: 100%;
    position: relative;
}
html,
body{ 
	
	overflow-x: hidden; 
}
@media (min-width: 768px){
	.navbar-toggle {
		display: grid !important;
	}
	.alinhaMenu{
	
	}
	.menuPrincipal.navbar-header{
    	float: none!important; 
	}

}
@media (max-width: 700px){
	.ajustesMenuHamburguer{
		margin-right: -20px !important;
	}

}
.menuPrincipal{
	display: flex;
	align-items: center; 
	align-content: space-between; 
	margin-top: -12px; 
	height: 70px; 
	margin-left: -14px;
}
.posicaoCarrousel{
	color: #FFF;
    background-color: rgba(0, 0, 0, 0.5);

    position: absolute !important; 
    top: 50% ;
    left: 50%;
    transform: translate(-50%, -50%);
}
.posicaoLogin{
	color: #FFF;
    background-color: rgba(0, 0, 0, 0.5);
    width: 70%;
    border-radius: 10px;
    position: absolute !important; 
    top: 50% ;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media (max-width: 754px){
	.regulaLayoutCadastramentoData{
		 display: flex !important;
	}
	.ajustarLayout{
		display: flex; 
	}
	
}
@media (max-width: 763px){
	.ajustarLayout{
		display: inline!important; 
	}
	
}
@media (max-width: 599px){
	.regulaLayoutCadastramentoTodos{
		 display: inline-grid !important;
		 margin-right: 40%;
	}
	.alinhaVertical {
		width: 100% !important;
	}
	.regularPosicao{
		top: 50%;
	    left: 50%;
	    transform: translate(25%, 0%);
	}

}
@media(min-width: 599px){
/*	.alinharDespesas{
		width: 32%;
    	margin-left: 35%;
	}*/
}


.painel-animado {

	 -moz-transition:transform 0.8s;
	 -webkit-transition:transform 0.8s;
	 -ms-transition:transform 0.8s;
	 -o-transition:transform 0.8s;
	 transition:transform 0.8s;
}
.painel-animado.ng-leave-active {
  -moz-transform: scale(0.1);
  -webkit-transform: scale(0.1);
  -ms-transform: scale(0.1);
  -o-transform: scale(0.1);
  transform: scale(0.1);
}
.larguraLogin{
	width: 60%;
	margin-left: 20%;
}
.ajustarLayout{
	display: flex; 
}
.afastamento{
	margin-left: 3%;
}
.inativarIcone{
	fill: currentColor!important;
}
.ajustesMenuHamburguer{
	border: 0px solid transparent !important;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
