<div ng-init="verificaBoletosAtivos()" ng-cloak>
	<ul class="nav nav-tabs nav-fixed">
	  <li role="presentation" class="active"><a href="#agenda" aria-controls="agenda" role="tab" data-toggle="tab">Agenda</a></li>
	  <li role="presentation"><a href="#contas" aria-controls="contas" role="tab" data-toggle="tab">Contas</a></li>
	</ul>

	<div class="tab-content">
	    <div role="tabpanel" class="tab-pane fade in  active" id="agenda">
	    	<table   class="table table-striped "  >
				<thead  >
					<tr >
						<th class="text-center"><strong>Data</strong></th>
						<th class="text-center"><strong>Evento</strong></th>
					</tr>
				</thead>
				<tbody >
					<tr  ng-repeat="evento in eventos | orderBy: 'dataProgramada'">
						<td class="text-center"> {{evento.dataProgramada | date: 'dd/MM/yyyy'}} </td>
						<td class="text-center"> {{evento.descricao }} </td>
						<td class="text-center" ng-if="evento.descricao == 'Racionamento' ">
							<span class="glyphicon glyphicon-tint " aria-hidden="true"></span>
							<span class="glyphicon glyphicon-ban-circle " aria-hidden="true"></span>
						</td>
						<td class="text-center" ng-if="evento.descricao != 'Racionamento' " >
							<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
						</td>
					</tr>
				</tbody>
			</table>
	    </div>
	    <div role="tabpanel" class="tab-pane fade" id="contas">
	    	<div class="panel-group" id="parent" role="tablist" aria-multiselectable="true">
			  <div class="panel panel-default" ng-repeat="referencia in referencias | orderBy: '-referencia'">
			    <div class="panel-heading" role="tab" id="titulo{{referencia.referenciaId}}" >
			      <h4 class="panel-title">
			        <a role="button" data-toggle="collapse" data-parent="#parent" href="#corpo{{referencia.referenciaId}}" aria-expanded="true" aria-controls="corpo{{referencia.referenciaId}}">
			          Contas do Mês {{referencia.referencia | date: 'MM/yyyy'}}
			        </a>
			      </h4>
			    </div>
			    <div id="corpo{{referencia.referenciaId}}" class="panel-collapse collapse " role="tabpanel" aria-labelledby="titulo{{referencia.referenciaId}}">
			      <div class="panel-body">
        			<h3 >Entradas</h3>
	    			<table  id="entradas" class="table table-striped ">
						<thead  >
							<tr>
								<th><strong>Descrição</strong></th>
								<th><strong>Data</strong></th>
								<th><strong>Valor</strong></th>
							</tr>
							
						</thead>
						<tbody  ng-repeat="item in movimentacao | orderBy: 'descricao'"  >
							<tr ng-if="item.tipoRegistro == 'E' && referencia.referencia == item.referencia"  >
								<td> {{item.descricao}} </td>
								<td> {{item.referencia | date: 'dd/MM/yyyy'}} </td>
								<td> {{item.valor | currency: 'R$ '}} </td>
							</tr>
						
						</tbody>
						<tr   >
							<th >
						<br/>
								<strong ng-if="total.referencia == referencia.referencia" ng-repeat="total in vlrEntrada | orderBy: 'referencia'" >
									Total Entrada: {{total.vlrEntrada | currency: 'R$ ' }}
								</strong>
						<br/>
							</th>
						</tr>
					</table>
					<h3  >Saídas</h3>
					<table id="saidas" class="table table-striped " >
						<thead>
							<tr>
								<th><strong>Descrição</strong></th>
								<th><strong>Data</strong></th>
								<th><strong>Valor</strong></th>
							</tr>
						</thead>
						<tbody ng-repeat="item in movimentacao | orderBy: 'descricao'">
							<tr ng-if="item.tipoRegistro == 'S' && referencia.referencia == item.referencia"  >
								<td> {{item.descricao}} </td>
								<td> {{item.referencia | date: 'dd/MM/yyyy'}} </td>
								<td> {{item.valor | currency: 'R$ '}} </td>
							</tr>
						</tbody>
						<tr >
							<th  >
						<br/>
								<strong ng-if="total.referencia == referencia.referencia" ng-repeat="total in vlrSaida | orderBy: 'referencia'" >
									Total Saída: {{total.vlrSaida | currency: 'R$ ' }}
								</strong>
						<br/>
							</th>
						</tr>
					</table>
			      </div>
			    </div>
			  </div>
			</div>

			<!-- <p-accordion id="multiple"  ng-repeat="referencia in referencias | orderBy: '-referencia'">
					<h2 class="text-center " >Contas do Mês {{referencia.referencia | date: 'MM/yyyy' }}</h2>
				    <p-tab title="Entradas" ng-repeat="item in movimentacao | orderBy: 'descricao'">
				       <table  id="entradas" class="table table-striped ">
								<thead  >
									<tr>
										<th><strong>Descrição</strong></th>
										<th><strong>Data</strong></th>
										<th><strong>Valor</strong></th>
									</tr>
								</thead>
								<tbody  ng-repeat="item in movimentacao | orderBy: 'descricao'" >
									<tr ng-if="item.tipoRegistro == 'E' && referencia.referencia == item.referencia" >
										<td> {{item.descricao}} </td>
										<td> {{item.referencia | date: 'MM/dd/yyyy'}} </td>
										<td> {{item.valor | currency: 'R$ '}} </td>
									</tr>
								</tbody>
							</table>
				    </p-tab>
				    <p-tab title="Saídas" ng-repeat="item in movimentacao | orderBy: 'descricao'">
				        <table id="saidas" class="table table-striped " >
							<thead>
								<tr>
									<th><strong>Descrição</strong></th>
									<th><strong>Data</strong></th>
									<th><strong>Valor</strong></th>
								</tr>
							</thead>
							<tbody ng-repeat="item in movimentacao | orderBy: 'descricao'">
								<tr ng-if="item.tipoRegistro == 'S' && referencia.referencia == item.referencia">
									<td> {{item.descricao}} </td>
									<td> {{item.referencia | date: 'MM/dd/yyyy'}} </td>
									<td> {{item.valor | currency: 'R$ '}} </td>
								</tr>
							</tbody>
						</table>
				    </p-tab>
			</p-accordion> -->
	    </div>
	</div>

					
					
					
</div>